@use "../utilities/variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $color-secundario;
    color: $color-texto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}