@use "../utilities/variables" as *;

.bg-custom-navbar {
    background-color: $color-primario !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;

    &:hover, &:focus {
        color: #ffffff !important;
        background-color: $color-acento;
    }
}